html, body {
    height: 100%;
    margin: 0;
}

/* container principal */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ffffff; /* cor do "espaço em branco" */
    gap: 8px; /* ESPAÇO ENTRE NORTH / MIDDLE / SOUTH */
    padding: 8px; /* margem externa */
}

/* NORTH e SOUTH */
.north,
.south {
    background: #f7f7f7;
    border: 1px solid #cfcfcf;
    padding: 8px;
    font-size: 14px;
}

/* área central */
.center-area {
   flex: 1;
    display: flex;
    gap: 8px; /* ESPAÇO EM BRANCO ENTRE WEST E CENTER */
    min-height: 0; /* MUITO IMPORTANTE */
}

/* WEST */
.west {
    background: #f7f7f7;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding: 8px;
    overflow: hidden; /* SEM SCROLL */
}

/* CENTER */
.center {
    flex: 1;
    background: #ffffff;
    padding: 10px;
    overflow-y: auto; /* SCROLL AQUI */
    overflow-x: hidden;
    min-height: 0; /* ESSENCIAL */
}

.campo-km {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px 10px;
    align-items: center;
}

.hr-inline,
.km-inline {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 6px 10px;
    align-items: center;
}

/* Wrapper do formulário */
.form-compacto {
    --gap: 2px;
}

/* PanelGrid */
.form-compacto .ui-panelgrid-cell {
    padding: 2px 4px !important;
}

/* Fieldset */
.form-compacto .ui-fieldset {
    margin: 4px 0 !important;
}

.form-compacto .ui-fieldset-content {
    padding: 4px 6px !important;
}

/* Labels */
.form-compacto .ui-outputlabel {
    margin: 0 !important;
    line-height: 1 !important;
}

/* Inputs */
.form-compacto .ui-inputfield,
.form-compacto .ui-datepicker-input {
    margin: 0 !important;
    padding: 2px 6px !important;
    height: 26px !important;
    font-size: 12px;
}

/* Remove espaçamento invisível */
.form-compacto br {
    display: none;
}

.ui-grid-col-4 {
    padding-left: 0 !important;
}